/Client/Dark God/Library
/Client/Dark God/Library/Artifacts
/Client/Dark God/obj
/Client/Dark God/Logs
/Client/Dark God/Assets/GameAssets
/Client/Dark God/Assets/Test
/Client/Dark God/Assets/Resources/ResIcon
/Client/Dark God/Assets/Resources/PrefabPlayer
/Client/Dark God/Assets/Resources/PrefabMonster
/Client/Dark God/Assets/Resources/PrefabNPC
/Client/Dark God/Assets/Resources/PrefabUI
/Client/Dark God/Assets/Resources/ResImages
/Client/Dark God/Assets/Resources/ResScenes
/Client/Dark God/Assets/Resources/UIAnimation
/Client/Dark God/Assets/Resources
/Client/Dark God/Assets/Scenes
/Client/Dark God/ProjectSettings
*.prefab
*.meta
*.json
*.unity
Client/Dark God/Library/ArtifactDB
